<div id="<%= dom_id badge %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= badge.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= badge.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= badge.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= badge.count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Goal type:</strong>
    <%= badge.goal_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this badge", badge, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this badge', edit_badge_path(badge), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
