<div>
  <h1 class="font-bold text-4xl">Welcome <%= current_user.email %>!</h1>
  
  <div class="mt-5">
    <% if current_user.badges.count == 0 %>
      <%= "You don't have any badges yet! Get to challenging!"%>
    <% else %>
      <%= "You have earned the following badges:"%>
      <ul class="list-disc">
        <% current_user.badges.each do |badge| %>
          <li>
              <%= badge.name %>:
              <%= badge.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
</div>