<!DOCTYPE html>
<html>
  <head>
    <title>GoalmaticKsk35</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-white shadow-lg">
        <ul class="flex justify-between">
          <li class="mr-3">
            <%= link_to 'Challenges', challenges_path, class: "inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" %>
            <%= link_to 'Categories', categories_path, class: "inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" %>
          </li>
          <% if @current_user %>
            <li class="ml-50">
              <div class="py-1 px-3">
                Logged in as <%= link_to @current_user.email, home_path %>
              </span>
            </li>
          <% end %>
          <li>
            <% if @current_user %>
              <%= button_to 'Logout', logout_path, method: :delete, class: "inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" %>
            <% else %>
              <%= link_to 'Login', login_path, class: "inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" %>
            <% end %>
          </li>
        </ul>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
